<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HotPort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HotPort.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TemplateDir" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowsCheckbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeLibDir" serializeAs="String">
                <value />
            </setting>
            <setting name="FrontDoorWidth" serializeAs="String">
                <value>0.9398</value>
            </setting>
            <setting name="FrontDoorHeight" serializeAs="String">
                <value>2.3876</value>
            </setting>
            <setting name="FrontTransom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GarageDoorWidth" serializeAs="String">
                <value>0.8382</value>
            </setting>
            <setting name="GarageDoorHeight" serializeAs="String">
                <value>2.0828</value>
            </setting>
        </HotPort.Properties.Settings>
    </userSettings>
</configuration>